In [44]:
import pandas as pd
import numpy as np

In [51]:
stocks_csv = "Resources/Company_stock_prices.csv"
stocks_df = pd.read_csv(stocks_csv)
stocks_df.head(3)

,Company_ticker,Date,High,Low,Open,Close,Volume,Adj_close
0,AAC,10/2/2014,20.10,17.600000,20.000000,18.50,2799100,18.50
1,AAC,10/3/2014,18.75,18.049999,18.200001,18.65,155600,18.65
2,AAC,10/6/2014,19.58,18.480000,18.480000,19.24,188200,19.24

In [58]:
print(stocks_df.count())
#print(stocks_df.Company_ticker.dtype)
#print(stocks_df.Date.dtype)
stocks_df.dtypes

Company_ticker    1443441
Date              1443441
High              1443441
Low               1443441
Open              1443441
Close             1443441
Volume            1443441
Adj_close         1443441
dtype: int64

Company_ticker     object
Date               object
High              float64
Low               float64
Open              float64
Close             float64
Volume              int64
Adj_close         float64
dtype: object

In [55]:
stocks_df_fill= stocks_df.replace(r'', np.NaN)
stocks_df_fill.head(3)

,Company_ticker,Date,High,Low,Open,Close,Volume,Adj_close
0,AAC,10/2/2014,20.10,17.600000,20.000000,18.50,2799100,18.50
1,AAC,10/3/2014,18.75,18.049999,18.200001,18.65,155600,18.65
2,AAC,10/6/2014,19.58,18.480000,18.480000,19.24,188200,19.24

In [57]:
stocks_df_fill = stocks_df.fillna(method='ffill')
stocks_df_fill.head(3)
stocks_df_fill.dtypes

Company_ticker     object
Date               object
High              float64
Low               float64
Open              float64
Close             float64
Volume              int64
Adj_close         float64
dtype: object

In [56]:
stocks_df_clean = stocks_df_fill.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
stocks_df_clean.head(3)

AttributeError: 'NoneType' object has no attribute 'head'

In [50]:
stocks_df_clean.to_csv(r'Resources/Company_stock_pricesv2.csv', index=False)

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [36]:
stocks_df_clean = list(filter(None, stocks_df))
#stocks_df_clean.head(3)
print(stocks_df_clean)
stocks_df_clean.dtypes

['Company_ticker', 'Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj_close']

AttributeError: 'list' object has no attribute 'dtypes'

In [41]:
stocks_df.drop(axis=0, index='None', inplace=False, errors='raise')

KeyError: "['None'] not found in axis"

In [30]:
stocks_df_clean = stocks_df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=True)
stocks_df_clean.head(3)

AttributeError: 'NoneType' object has no attribute 'head'

In [26]:
stocks_df_type = stocks_df.astype({'Company_ticker': 'str'}).dtypes
stocks_df_type.dtypes

dtype('O')

In [42]:
stocksv2_df = stocks_df['Low'].replace('', np.nan, inplace=True)
#stocksv2_df.head(3)

In [43]:
stocksv2_df.count()

AttributeError: 'NoneType' object has no attribute 'count'

In [8]:
stocks_dfv3 = stocksv2_df.dropna(subset=['Company_ticker'], inplace=True)
stocks_dfv3.head(3)

AttributeError: 'NoneType' object has no attribute 'dropna'