In [1]:
import pandas as pd
#import pandas_explode

In [21]:
company_csv = "Resources/Company_information.csv"
company_df = pd.read_csv(company_csv)
company_df.head(3)

,Company_name,Company_ticker,MarketCap,IPOyear,Industry
0,"111, Inc.",YI,4.853105e+07,2018.0,Medical/Nursing Services
1,3M Company,MMM,1.002870e+11,NaN,Medical/Dental Instruments
2,"AAC Holdings, Inc.",AAC,2.499575e+07,2014.0,Medical Specialities

In [22]:
company_df_clean = company_df.fillna(0)
company_df_clean.head(3)

,Company_name,Company_ticker,MarketCap,IPOyear,Industry
0,"111, Inc.",YI,4.853105e+07,2018.0,Medical/Nursing Services
1,3M Company,MMM,1.002870e+11,0.0,Medical/Dental Instruments
2,"AAC Holdings, Inc.",AAC,2.499575e+07,2014.0,Medical Specialities

In [15]:
company_df_cleanv2=company_df_clean.replace({'Company_name': r','}, {'Company_name': ' '}, regex=True)
company_df_cleanv2.head(3)

,Company_name,Company_ticker,MarketCap,IPOyear,Industry
0,111 Inc.,YI,4.853105e+07,2018.0,Medical/Nursing Services
1,3M Company,MMM,1.002870e+11,0.0,Medical/Dental Instruments
2,AAC Holdings Inc.,AAC,2.499575e+07,2014.0,Medical Specialities

In [16]:
company_df_cleanv2.to_csv(r'Resources/Company_informationv3.csv', index=False)